{{page-title "FrontendAiHackathonGroup1"}}

<header>
  <div class="header-left">
    <a href="/" class="home-link">Home</a>
    <a href="/validation" class="validation-page">Validation</a>
    <a
      href="https://www.youtube.com"
      target="_blank"
      class="youtube-link"
      rel="noopener noreferrer"
    >ChatBot</a>
  </div>
  <div class="header-right">
    <h2>Renovation Guidelines</h2>
  </div>
</header>

{{outlet}}