{{page-title "FrontendAiHackathonGroup1"}}

<header>
  <div class="header-left">
    <a href="/" class="home-link">Home</a>
    <a href="/validation" class="validation-page">Validation</a>
    <a
      href="http://hackathon-ai-1.s.redhost.be:7860/"
      class="chatbot-interface"
    >ChatBot</a>
  </div>
  <div class="header-right">
    <h2>Renovation Guidelines</h2>
  </div>
</header>

{{outlet}}