{{page-title "Guidelines"}}
{{outlet}}

    <div class="guidelines-lists">
        <div class="guidelines-box">
            <h2>Do's</h2>
            <ul>
            <li>Interior Painting.</li>
            <li>Flooring Updates.</li>
            <li>Window Replacement with Similar Style.</li>
            <li>Landscaping.</li>
            <li>Updating Plumbing Fixtures.</li>
            </ul>
        </div>

        <div class="guidelines-box">
            <h2>Don'ts</h2>
            <ul>
            <li>Changing the Building's Exterior.</li>
            <li>Paint over historical features without permission.</li>
            <li>Changing Rooflines.</li>
            <li>Building Fences or Walls.</li>
            <li>Installing Satellite Dishes.</li>
            </ul>
        </div>
     </div>
