{{page-title "Guidelines"}}
{{outlet}}

    <div class="guidelines-lists">
        <div class="guidelines-box">
            <h2>Do's (stub data)</h2>
            <ul>
            <li>Interior Painting.</li>
            <li>Flooring Updates.</li>
            <li>Window Replacement with Similar Style.</li>
            <li>Landscaping.</li>
            <li>Updating Plumbing Fixtures.</li>
            </ul>
        </div>

        <div class="guidelines-box">
            <h2>Don'ts (from the triplestore)</h2>
            <ul>
                {{#each this.model as |annotation|}}
                    <li>{{annotation.body}}</li>
                {{/each}}
            </ul>
        </div>
    </div>
