<div class="welcome-container">

  <main>
    <h1>Ready to transform your home?</h1>
    <p>Have questions about your renovation plans? We're here to help! With our
      service, you’ll get all the guidance you need to turn your vision into
      reality!</p>
    <button type="button" {{on "click" this.openPopup}}>Get in Touch</button>
  </main>

  {{#if this.isPopupOpen}}
    <div>hallo daar</div>
    <div class="modal-overlay">
      <div class="my-modal">
        <h2>Enter Your Address</h2>
        <input
          type="text"
          placeholder="Enter your address"
          value={{this.address}}
        />
        <button type="button" {{on "click" this.closePopup}}>Close</button>
        <button type="button" {{on "click" this.submitAddress}}>Submit</button>
      </div>
    </div>
  {{/if}}
</div>