
<div class="validation-container">
  <div class="validation-box">
    <h3>Do's</h3>
    <ul>
      <li>
        <span>Example Do 1</span>
        <button class="thumbs-up">👍</button>
        <button class="thumbs-down">👎</button>
      </li>
      <li>
        <span>Example Do 2</span>
        <button class="thumbs-up">👍</button>
        <button class="thumbs-down">👎</button>
      </li>
      <li>
        <span>Example Do 3</span>
        <button class="thumbs-up">👍</button>
        <button class="thumbs-down">👎</button>
      </li>
    </ul>
    <button class="add-button">Add Do</button>
  </div>

  <div class="validation-box">
    <h3>Don'ts</h3>
    <ul>
      <li>
        <span>Example Don't 1</span>
        <button class="thumbs-up">👍</button>
        <button class="thumbs-down">👎</button>
      </li>
      <li>
        <span>Example Don't 2</span>
        <button class="thumbs-up">👍</button>
        <button class="thumbs-down">👎</button>
      </li>
      <li>
        <span>Example Don't 3</span>
        <button class="thumbs-up">👍</button>
        <button class="thumbs-down">👎</button>
      </li>
    </ul>
    <button class="add-button">Add Don't</button>
  </div>
</div>
